.jscad1{
  position: relative;
  width: 100%;
  height: 100%;
}

.jscad2{
  position: relative;
  width: 1200px;
  height: 700px;
}

.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

html{
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  --main-text-color: grey;
}

/* not demo specific code*/
.jscad {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

#renderTarget {
  cursor: move;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#fileLoader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
#fileLoader + label {
  background: none;
  box-shadow: none;
  border: 1px solid #bfbcbc;
  border-color: black;
  border-radius: 1px;
  border-width: 1px;
  padding: 0px 2px;
  margin: 0px 5px 0px 0px;
  background-color: white;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}
/*#fileLoader:focus + label,*/
#fileLoader + label:hover {
  background-color: rgba(0, 188, 212, 0.6);
}

#controls {
  box-sizing: border-box;
  color: var(--main-text-color);
  position: absolute;
  width: 100%;
  padding: 0px 10px;
  user-select: none;
  top: 30px;
  z-index: 1;
}

#controls input[type="checkbox"] {
  margin-right: 19px;
}

section#params {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 10px;
  left: 10px;
  user-select: none;
  max-height: calc(100% - 6em);
  overflow-y: scroll;
  padding: 0;
}
#paramsTable{
  display: flex;
  margin-bottom: 20px;
}
#paramsTable table {
  border-collapse: collapse;
}
#paramsTable td {
  padding: 1px 20px 5px 4px;
}
#paramsTable td.caption {
  vertical-align: baseline;
  font-weight: bold;
  opacity: .7;
  padding: 1px 4px 5px 20px;
  text-align: right;
}
#paramsTable h1{
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: medium;
}
#paramsTable h1 {
  margin: 0px;
  font-size: 1.3em;
}
#paramsTable .groupTitle {
  border-top: 1px solid #bfbcbc;
  cursor: pointer;
  background: linear-gradient(180deg, #00000014, transparent);
}
#paramsTable .groupTitle td.caption {
  text-align: left;
  padding: 4px 10px 5px;
}
#paramsTable .groupTitle:hover {
  background: #dceeff;
}
#paramsTable .groupTitle td:nth-child(2){
  float: right;
}
#paramsTable .groupTitle .icon {
  vertical-align: middle;
}
#paramsTable .groupTitle.closed .icon-open{
  display: none;
}
#paramsTable .groupTitle.open .icon-closed{
  display: none;
}

#paramsTable .controlsLine{
  padding-top: 10px;
}
span#paramsControls {
  display: block;
  text-align: right;
  padding: 3px 20px 10px;
}
#paramsTable tr.controlsLine:first-child td {
   padding-top: 14px;
}

#busy{
  position: absolute;
  color: black;
}

#status{
  position: absolute;
  color: red;
  top: 60px;
  left: 0;
  padding:  20px;
  z-index: 1;
}

#stacktrace ul{
  padding: 0px 0px 0px 15px;
  margin: 0px;
}

#container{
  position: relative;
  height: 100%;
  width: 100%;
}

h3 {
  margin: auto;
}

#header {
  box-sizing: border-box;
  position: absolute;
  padding: 0px 10px;
  color: var(--main-text-color);
  width: 100%;
  display: inline-flex;
  z-index: 1;
}
#jscadName {
  margin: 5px 5px 5px 0px;
  text-transform: capitalize;
}
#designName {
  margin: 5px 5px 5px 5px;
}
#io {
  margin: 5px 5px 5px 5px;
}
#exportFormats {
  margin: 0px 5px 0px 5px;
  opacity: 0.6;
}

#toolbar {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}
#toolbar button {
  border-color: white;
}

section {
  padding: 20px;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.17);
  overflow: auto;
  color: var(--main-text-color);
  z-index: 10;
  border: 1px solid #aaa;
}

section.popup-menu {
  position: absolute;
  top: 40px;
  right: 10px;
  max-height: 80%;
}

section.popup-menu h2 {
  color: #5e6d7d;
}

section.popup-menu h2:first-child {
  margin-block-start: 0;
}

section.popup-menu h3 {
  margin: auto;
  border-bottom: 1px solid #888888;
}

section.popup-menu ul {
  margin-top: 2px;
  list-style: none;
  padding-left: 18px;

}

#options {
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 18px;
}

#options fieldset {
  border: none;
  display: table;
  padding-inline: 0px;
}
#options fieldset label {
  display: table-row;
}
#options fieldset input {
  display: table-row;
  align-self: flex-end;
}
#shortcuts {
  padding: 5px;
}

#editor {
  bottom: 10px;
  max-height: none;
  padding: 0px;
  font-size: 0.9em;
  width: 50%;
}

textarea {
  height: inherit;
  width: inherit;
}

#help {
  background-color: rgba(255, 255, 255, 0.6);
}

#help a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

#help a:hover {
  color: rgb(0 89 149);
}

a.external-link {
  background-image: url(../imgs/externalLink.png);
  background-repeat: no-repeat;
  background-position: right 3px;
  padding-right: 16px;
}

#help p {
  margin-left: 10px;
}

#help table {
  margin: 10px 0px 0px 10px;
}

#help ul.examples-group {
  padding: 0;
}

#help ul.examples-group>li {
  padding: 4px 0 0 0;
}


button {
  background: none;
  box-shadow: none;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  margin: 0px 5px;
  padding: 2px 6px;
  background-color: white;
  letter-spacing: .5px;
  outline: none;
  border: 1px solid #bfbcbc;
  opacity: 0.6;
}

button > svg {
  vertical-align: middle;
}

button:hover svg {
  stroke: rgb(0, 153, 255);
}

#toolbar button:hover {
  box-shadow: 0px -1px 5px 0.5px rgba(0, 0, 0, 0.17);
}

button:hover{
  background-color:rgba(0, 188, 212, 0.6);;
}

input[type="button"]{
  box-shadow: none;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  background-color: white;
  outline: none;
  border: 1px solid;
  opacity: 0.6;
}  
input[type="button"]:hover{
  background-color:rgba(0, 188, 212, 0.6);
}

input[type="checkbox"] {
  opacity: 0.5;
}

input[type="checkbox"]:hover{
  background-color:rgba(0, 188, 212, 0.6);
}

/*themes ?? not sure, not used yet*/
.light{
  color:black;
}
.dark{
  color:white;
}
#appUpdates {
  visibility: visible;
}
#appUpdates a{
  text-decoration:none;
}

.shortcutCommand.error{
  color:red;
}

input.error::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

#shortcuts .error input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

#shortcuts .error input::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.icon {
  padding: 0px;
}
.icon svg{
  width: 16px;
  height: 16px;
}

.renderHotkeyHelp {
  position: absolute;
  top: 0rem;
  right: 1rem;
  color: gray;
  user-select: none;
}


/* AI Chat Sidebar - Permanent sidebar matching JSCAD UI */
#aiChatPanel.ai-chat-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.95);
  border-left: 1px solid #bfbcbc;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

#aiChatContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

#aiChatContent h2 {
  color: #5e6d7d;
  margin: 0 0 15px 0;
  font-size: 1.3em;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfbcbc;
}

.ai-chat-settings {
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.ai-chat-setting-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.ai-chat-setting-row:last-child {
  margin-bottom: 0;
}

.ai-chat-setting-row label {
  flex: 0 0 70px;
  font-size: 0.85em;
  color: #5e6d7d;
  font-weight: 600;
}

.ai-chat-setting-row select {
  flex: 1;
  padding: 6px 8px;
  border: 1px solid #bfbcbc;
  border-radius: 3px;
  font-size: 0.85em;
  background: white;
  cursor: pointer;
}

.ai-chat-setting-row select:focus {
  outline: none;
  border-color: #5e6d7d;
}

.ai-chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.ai-chat-message {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 0.85em;
  line-height: 1.4;
}

.ai-chat-user {
  background: rgba(94, 109, 125, 0.1);
  border-left: 3px solid #5e6d7d;
  margin-left: 10%;
}

.ai-chat-bot {
  background: rgba(255, 255, 255, 0.6);
  border-left: 3px solid #4CAF50;
  margin-right: 10%;
}

.ai-chat-error {
  background: rgba(255, 82, 82, 0.1);
  border-left: 3px solid #ff5252;
  color: #c62828;
}

.ai-chat-input-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-chat-input-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bfbcbc;
  border-radius: 3px;
  font-size: 0.9em;
  font-family: inherit;
  resize: vertical;
  background: rgba(255, 255, 255, 0.9);
  min-height: 60px;
}

.ai-chat-input-section textarea:focus {
  outline: none;
  border-color: #5e6d7d;
  background: white;
}

.ai-chat-buttons {
  display: flex;
  gap: 8px;
}

.ai-chat-input-section button {
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #bfbcbc;
  border-radius: 3px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.ai-chat-input-section button:hover:not(:disabled) {
  background: rgba(255, 255, 255, 1);
  border-color: #5e6d7d;
}

.ai-chat-input-section button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ai-chat-generate-btn {
  flex: 1;
  background: #5e6d7d !important;
  color: white !important;
  border-color: #5e6d7d !important;
}

.ai-chat-generate-btn:hover:not(:disabled) {
  background: #4a5766 !important;
  border-color: #4a5766 !important;
}

.ai-chat-clear-key {
  flex: 0 0 auto;
  font-size: 0.85em !important;
  padding: 8px 12px !important;
}

/* Adjust main container when sidebar is open */
#container {
  margin-right: 0;
  transition: margin-right 0.3s;
}

#container.ai-sidebar-open {
  margin-right: 350px;
}

@media (max-width: 1024px) {
  #aiChatPanel.ai-chat-sidebar {
    width: 300px;
  }
  
  #container.ai-sidebar-open {
    margin-right: 300px;
  }
}

@media (max-width: 768px) {
  #aiChatPanel.ai-chat-sidebar {
    width: 100%;
    max-width: 100vw;
  }
  
  #container.ai-sidebar-open {
    margin-right: 0;
  }
}
